@using Microsoft.AspNetCore.Components.Web
@namespace Vendor.Gateways.Portal.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Vendor</title>

    <!-- font icons -->
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" href="/css/creative-studio.css">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>

<!-- End Of Page Navigation -->


@RenderBody()

<script src="_framework/blazor.server.js"></script>
<script src="js/GeoLocation.js" type="module"></script>

</body>
</html>