@page "/"
<PageTitle>Home</PageTitle>

<header class="header" style="background: url('images/header-background-dark.jpg') no-repeat center center fixed">
    <div class="overlay">
        <h6 class="subtitle text-center">SMALL INNOVATION<br>BIG FUTURE</h6>
        <div class="buttons text-center">
            <a href="/AboutUs" class="btn btn-primary rounded w-lg btn-lg my-1">About us</a>
            <a href="/ContactUs" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <h1>Hello mofo</h1>
        </Authorized>
    </AuthorizeView>
</header>