@page "/"
<PageTitle>Home</PageTitle> 


@* Home Page *@
@* About *@
@* Image background *@

<header class="header" style="background: url('images/header-background.jpg') no-repeat center center fixed">
    <div class="overlay">
        <h6 class="subtitle">Small inovation, big future</h6>
        @* <h1 class="title">Vendor</h1> *@
        <div class="buttons text-center">
            <a href="#service" class="btn btn-primary rounded w-lg btn-lg my-1">About us</a>
            <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
        </div>
    </div>
</header>