@page "/Test"

<h3>Test</h3>

<h1>@Latitude, @Longitude</h1>

@code {
    public decimal Latitude { get; set; }
    public decimal Longitude { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    public void PositionCallback()
    {
        
    }
}