@page "/AboutUs"
<section class="vh-70 mt-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                                <p>
                                    Welcome to our company, where we specialize in vending machine monitoring services! We are passionate about helping businesses of all sizes optimize their vending operations and improve their bottom line.
                                </p>
                                <p>
                                    At our company, we believe that vending machines are an essential part of any modern workplace or public space. However, we also recognize that managing vending machines can be a time-consuming and expensive task, especially for businesses with multiple machines spread across different locations.
                                </p>
                                <p>
                                    That's where our monitoring services come in. With our cutting-edge technology and experienced team, we make it easy for businesses to keep track of their vending operations in real-time, from anywhere, at any time. Our goal is to help our clients save time, money, and resources by streamlining their vending management processes and providing valuable insights into customer behavior and preferences.
                                </p>
                                <p>
                                    Our team consists of dedicated professionals with years of experience in the vending industry. We are committed to delivering top-quality services that exceed our clients' expectations, and we work hard to ensure that our solutions are customized to meet the unique needs of each of our clients.
                                </p>
                                <p>
                                    We pride ourselves on providing exceptional customer service and support, and we are always here to help our clients with any questions, concerns, or issues that may arise. Whether you are looking to improve your vending operations, increase revenue, or simply make your vending machines more convenient and accessible for your customers, we are here to help.
                                </p>
                                <p>
                                    Thank you for considering our company for your vending monitoring needs. We look forward to working with you and helping you achieve your goals!
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}