@page "/ContactUs"
<section class="vh-70 mt-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-8">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <p>
                                Thank you for your interest in our products/services.
                                We are here to answer any questions you may have about our company, products, or services.
                                Please feel free to contact us using the information below, or fill out the form at the bottom of the page and we will get back to you as soon as possible.
                            </p>

                            <div>
                                Contact Information:<br/>
                                <br/>
                                Phone: +359887703350<br/>
                                Email: dimitar.k.vasilev.04@gmail.com<br/>
                                Address: Plovdiv, Bulgaria<br/>
                                <br/>
                                Business Hours:<br/>
                                <br/>
                                Monday - Saturday: 9:00am - 5:00pm<br/>
                                Sunday: Closed<br/>
                                <br/>
                                You can also find us on social media:<br/>
                                <br/>
                                <a href="https://www.facebook.com/dimitar.vasilev.332/">Facebook</a><br/>
                                <a href="https://www.instagram.com/just_mitio/">Instagram</a><br/>
                            </div>
                            <br/>
                            <p>
                                We welcome your feedback, suggestions, and comments, and we are always looking for ways to improve our products and services.
                                If you have any questions or concerns, please do not hesitate to contact us.
                                We are committed to providing exceptional customer service and support, and we will do everything we can to ensure your satisfaction.
                            </p>
                            <p>
                                Thank you for choosing our company. We look forward to hearing from you!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}