@page "/Maintainer/MachineInfo/{MachineIdString}"
<h3>MachineInfo</h3>
<h1>@MachineId</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#status" role="tab" aria-controls="description" aria-selected="true">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#location" role="tab" aria-controls="history" aria-selected="false">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#statistics" role="tab" aria-controls="deals" aria-selected="false">Statistics</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h4 class="card-title">Bologna</h4>
          <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
          
          <div class="tab-content mt-3">
            <div class="tab-pane active" id="status" role="tabpanel">
              <p class="card-text">Comming soon! </p>
            </div>
             
            <div class="tab-pane" id="location" role="tabpanel" aria-labelledby="history-tab">  
              <div id="map"></div>
            </div>
             
            <div class="tab-pane" id="statistics" role="tabpanel" aria-labelledby="deals-tab">
              <p class="card-text">Comming soon!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="module" src="js/machineInfoMap.js"></script>
<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "beta"});</script>

@code {
    [Parameter]
    public string MachineIdString { get; set; }

    public int MachineId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        MachineId = int.Parse(MachineIdString);
    }

}