@page "/Maintainer/MachineInfo/{MachineIdString}"
@using Vendor.Domain.Views
@using Vendor.Gateways.Portal.Services.Maintainer
@inject IJSRuntime JsRuntime
@inject NavigationManager UriHelper
@inject IMaintainerService MaintainerService;

@* <h1>@MachineId</h1> *@

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
            <div class="card">

                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#status" class="nav-link active" data-toggle="tab">Status</a>
                            </li>
                            <li class="nav-item">
                                <a href="#location" class="nav-link" data-toggle="tab">Location</a>
                            </li>
                            <li class="nav-item">
                                <a href="#statistics" class="nav-link" data-toggle="tab">Statistics</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade vh-50 active show parent" style="height: 50vh" id="status">
                                <h5 class="card-title">Active</h5>
                                <p class="card-text">The machine has 24.85лв.</p>
                                <p class="card-text">The machine is out of Coca-Cola, Chio paprika, Tuc.</p>
                                <p class="card-text">9 spirals are currently empty.</p>
                                <h3>Machine last serviced by: </h3>
                                <div class="fill-empty-space">
                                    @* TODO Imortant!!! User this format for the date *@
                                    John[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Coke, Sprite, Doritos<br/>
                                    Sarah[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Pepsi, Fritos, Snickers<br/>
                                    Michael[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Sprite, Lays, Twix<br/>
                                    Emily[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Mountain Dew, Cheetos, M&Ms<br/>
                                    Alex[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Pepsi, Fanta, Popcorn<br/>
                                    Rachel[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled 7UP, Nachos, KitKat<br/>
                                    David[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Dr. Pepper, Ruffles, Hershey's<br/>
                                    Laura[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Coke, Pringles, Skittles<br/>
                                    Jason[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Sprite, SunChips, Reeses<br/>
                                     Samantha[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Pepsi, Tostitos, Snickers<br/>
                                     Kevin[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Mountain Dew, Cheetos, Milky Way<br/>
                                     Lily[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled 7UP, Pringles, Twizzlers<br/>
                                     Ethan[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Dr. Pepper, Ruffles, Skittles<br/>
                                     Olivia[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Coke, SunChips, M&Ms<br/>
                                     William[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Pepsi, Fritos, Snickers<br/>
                                     Ava[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Sprite, Lays, Hershey's<br/>
                                     Daniel[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Mountain Dew, Nachos, KitKat<br/>
                                     Mia[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled 7UP, Tostitos, Twix<br/>
                                     Benjamin[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Dr. Pepper, Popcorn, Reeses<br/>
                                     Emma[@DateTime.Now.AddDays(-Random.Shared.Next(15)).ToString("dd/MM/yy hh:mm")] - Filled Coke, Fanta, Skittles<br/>
                                </div>
                            </div>
                            <div class="tab-pane fade vh-50" style="height: 50vh" id="location">
                                <div id="map" style="height: 100%;"></div>
                            </div>
                            <div class="tab-pane fade" style="height: 50vh" id="statistics">
                                <h5 class="card-title">Messages tab content</h5>
                                <p class="card-text">Here is some example text to make up the tab's content. Replace it with your own text anytime.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-4">
            <img src="http://sc04.alicdn.com/kf/H4b75178f1af34606b4f7bfce2acfc9c5o.jpg" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%" alt="Machine"/>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string MachineIdString { get; set; }

    public int MachineId { get; set; }

    private IJSObjectReference? module;

    private VendingView _vendingView;

    protected async override Task OnInitializedAsync()
    {
        MachineId = int.Parse(MachineIdString);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _vendingView = (await MaintainerService.FetchMachineById(MachineId)).Result;
            
            module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Maintainer/MachineInfo.razor.js"); 
            await module.InvokeVoidAsync("initMap", 42.128247, 24.728230, "Title");
            StateHasChanged();
        }
    }

}