@page "/maintainer/empty"
@using Vendor.Domain.Views
@using Vendor.Gateways.Portal.Services.Maintainer

@inject IMaintainerService _service

<div class="container h-70 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-10">
            <div class="card text-light" style="border-radius: 25px; border-color: black; background-color: rgba(0,0,0,0.2)">
                <div class="card-body p-md-5">
                    <div class="text-center">
                        <h2>Serviceable machines</h2>
                    </div>
                    <div class="row justify-content-center">

                        @if (!emptyVendingRequest)
                        {
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading machines, please wait!</span>
                            </div>
                        }
                        else
                        {
                            if (_vendingViews.Count == 0)
                            {
                                <p>Currently, there are no empty machines!</p>
                            }

                            @foreach (var view in _vendingViews)
                            {
                                <VendingViewPartial Machine="@view"></VendingViewPartial>
                            }
                        }
                    </div>
                    <div class="text-center">
                        <h2>Non-empty machines</h2>
                    </div>
                    <div class="row justify-content-center">

                        @if (!nonEmptyVendingRequest)
                        {
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading machines, please wait!</span>
                            </div>
                        }
                        else
                        {
                            if (_nonEmptyVendingViews.Count == 0)
                            {
                                <p>Currently, there are no non-empty machines!</p>
                            }

                            @foreach (var view in _nonEmptyVendingViews)
                            {
                                <VendingViewPartial Machine="@view"></VendingViewPartial>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<VendingView> _vendingViews = new();
    private List<VendingView> _nonEmptyVendingViews = new();

    private bool emptyVendingRequest = false;
    private bool nonEmptyVendingRequest = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!emptyVendingRequest)
            await PopulateEmptyVendingViews();

        if (!nonEmptyVendingRequest)
            await PopulateNonEmptyVendingViews();
    }

    private async Task PopulateEmptyVendingViews()
    {
        var emptyMachinesResponse = await _service.FetchEmptyMachines();
        if (emptyMachinesResponse.IsValid)
        {
            _vendingViews = emptyMachinesResponse.Result;
            emptyVendingRequest = true;
        }
        StateHasChanged();
    }


    private async Task PopulateNonEmptyVendingViews()
    {
        var nonEmptyMachinesResponse = await _service.FetchNonEmptyMachines();
        if (nonEmptyMachinesResponse.IsValid)
        {
            _nonEmptyVendingViews = nonEmptyMachinesResponse.Result;
            nonEmptyVendingRequest = true;
        }
        StateHasChanged();
    }

}