@using Vendor.Gateways.Portal.Providers
@using Vendor.Gateways.Portal.Extensions
@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider _stateProvider
@inject NavigationManager _navManager;

<nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img style="height: 10vh; width: auto" src="/images/logo.png" alt="LOGO"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse rounded" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/maintainer/empty">Maintainer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/maintainer/create">Create machine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact us</a>
                </li>

                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-sm ml-lg-3" href="/register">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-sm ml-lg-3" href="/login">Sign in</a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-sm ml-lg-3" @onclick="HandleLogoutAsync">Log out</a>
                        </li>
                    </Authorized>
                </AuthorizeView>


            </ul>
        </div>
    </div>
</nav>

@Body

@code
{
    private async Task HandleLogoutAsync()
    {
        if ((await _stateProvider.GetAuthenticationStateAsync()).User.IsAuthenticated())
        {
            await _stateProvider.SetAuthenticationStateAsync(null);
            _navManager.NavigateTo("/", true);
        }
    }
}
