@using Vendor.Domain.Views
@using Vendor.Gateways.Portal.DTO
@using Vendor.Gateways.Portal.Services.Product
@inject IProductService ProductService

<div class="card text-center pt-3 rounded border-primary bg-transparent" style="width: 13rem;">
    <img class="card-img-top" src="@Machine.ImageUrl" style="width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Machine.Title</h5>
        <p class="card-text">@Machine.Spirals.Count(s => s.Loads == 0) Empty spirals</p>

        <a href="/Maintainer/MachineInfo/@Machine.Id" class="btn btn-primary">More</a>
        @* <a @onclick="() => HandleMachine(view)" class="btn btn-success">Handle</a> *@
    </div>
</div>

@code {

    [Parameter]
    public VendingView Machine { get; set; }
}